<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Success</title>
</head>

<body>

    <div class="jumbotron">
        <h1 class="display-3">Welcome, {{session['user_name']}}!</h1>
        <p class="lead">This is your dashboard page. A page where we will show you the wonders of life, all your hopes and dreams, to be sure you are given everything your heart desires.</p>
        <hr class="my-2">
        <p>When you are prepared to leave paradise, please secure your seat belt.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/logout" role="button">Log out</a>
        </p>
    </div>

</body>

</html>